.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar.navbar-default {
	margin-bottom: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px 25px;
}



